<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
    <div>
        <form th:action="@{'/book/search'}" method="get">
            <input type="text" placeholder="search" name="search">
            <button>SEARCH</button>
        </form>
    </div>
    
    
    <div>
        <th:block th:each="book : ${books}">
            <a th:text="${book.getName()}" th:href="@{'/book/' + ${book.getId()}}"/>
            <br/>
        </th:block>
    </div>

    <hr/>

    <div>
        <a th:href="@{'/book/new'}"> Create new book! </a>
    </div>


    <a href="/book?sorted_by_year=true"></a>
</body>
</html>