<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
  <p th:text="${book.getId()}">id</p>
  <p th:text="${book.getName()}">name</p>
  <p th:text="${book.getAuthor()}">author</p>
  <p th:text="${book.getYear()}">year</p>


  <div th:if="${took}">
    <form th:action="@{'/book/' + ${book.getId()} + '/take'}" th:method="PATCH">
      <p th:text="'Book taken by ' + ${person.getName()}"></p>
      <button>Free book</button>
    </form>
  </div>

  <div th:if="${!took}">
    <form th:action="@{'/book/' + ${book.getId()} + '/take'}" th:method="PUT" th:object="${book}">
      <p>Book don't taken</p>
      <select th:field="*{tookUser}">
        <th:block th:each="person : ${people}">
          <option th:value="${person.getId()}" th:text="${person.getName()}">
          </option>
        </th:block>
      </select>

      <button>Assign book</button>
    </form>
  </div>
  <br/>


  <a th:href="@{'/book/' + ${book.getId()} + '/edit'}">Edit!</a>

  <br/>

  <form th:action="@{'/book/' + ${book.getId()} + '/delete'}" th:method="DELETE">
    <input type="submit" value="Delete!">
  </form>
</body>
</html>