<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
  <p th:text="${person.getId()}">id</p>
  <p th:text="${person.getName()}">name</p>
  <p th:text="${person.getAge()}">age</p>


  <th:block th:each="book: ${books}">
    <p th:if="${person.getId()} == ${book.getOwner().getId()}" th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"></p>
  </th:block>

  <div th:if="${took}">User did not take book</div>
  <br/>

  <a th:href="@{'/people/' + ${person.getId()} + '/edit'}">Edit!</a>

  <br/>



  <form th:action="@{'/people/' + ${person.getId()} + '/delete'}" th:method="DELETE">
    <input type="submit" value="Delete!">
  </form>
</body>
</html>